@model FinalProject.Models.Post

@{
    ViewBag.Title = Model.Title;
}

<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <p id="poster">Posted by @Html.RouteLink(Model.User.UserName, "Profile", new {id=Model.Id}, null)</p>
    @*TODO: Make this link go to the user's profile page as soon as profile pages are added.*@
    <hr />
    <p>@Html.DisplayTextFor(model => model.Content)</p>
</div>

@* TODO: Make appropriate links here.
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
*@