@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Budjit</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="/scripts/buttons.js"></script>
    <script type="text/javascript">stLight.options({ publisher: "ur-94947d74-25c2-3f7d-c3e3-8716c7543fdf", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
    
</head>
    <body>
        <br/>
        <div class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/Home/Index"><img src="http://s4.postimg.org/nam26kx7h/Budjitlogowhite.png" width="100" height="80"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Posts", "Index", "Post")</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.RouteLink("Profile", "Profile", new { username = User.Identity.GetUserName() })</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <span class='st_sharethis_large' displaytext='ShareThis'></span>
                <span class='st_facebook_large' displaytext='Facebook'></span>
                <span class='st_twitter_large' displaytext='Tweet'></span>
                <span class='st_linkedin_large' displaytext='LinkedIn'></span>
                <span class='st_pinterest_large' displaytext='Pinterest'></span>
                <span class='st_email_large' displaytext='Email'></span>

                <p>&copy; @DateTime.Now.Year - Budjit</p>


            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
