@model FinalProject.Models.ApplicationUser

@{
    ViewBag.Title = Model.UserName;
}

<h2>@Model.UserName</h2>
<p style="float:left;">@Model.FirstName @Model.LastName</p>
<p style="float: right;">@Html.RouteLink("View all posts by this user.","UserPosts",new {username=Model.UserName})</p>
<br/>
<hr/>

<div class="post-list">
    @if (Model.Posts.Count > 0)
    {
        <h4>@Model.UserName's most recent post:</h4>
        <div class="post-list-item">
            @{
                var post = Model.Posts.Single(x => x.CreationDate == Model.Posts.Select(y => y.CreationDate).Min());
                <h5>
                    @Html.ActionLink(post.Title, "Details", "Post", new {id = post.Id}, new {@class = "post-list-item-title"})
                </h5>
                <p>
                    @post.Content
                </p>
            }
        </div>
    }
    else
    {
        <h4>@Model.UserName has not posted anything yet.</h4>
    }
</div>